body {
    margin: 0;
    padding: 10vh 5vw 10vh 5vw;
    background: #d6d6d6;
}
div {
    width: 70%;
    margin: auto;
    padding: 5vh 5vw 5vh 5vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
body {
    font-family: Monospace;
}
textarea {
    width: 30vw;
    height: 20vh;
}
#title {
    padding: 1vw;
}
.qn {
    font-size: 3.5vh;
    font-weight: bold;
}
@media (max-width: 480px) {
    div {
        width: 90%;
        padding: 3vh 3vw 3vh 3vw;
    }
    textarea {
        width: 60vw;
    }
}